<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AtendimentoSV</servlet-name>
        <servlet-class>uni.soscompany.controller.AtendimentoSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaSV</servlet-name>
        <servlet-class>uni.soscompany.controller.EmpresaSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioSV</servlet-name>
        <servlet-class>uni.soscompany.controller.UsuarioSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmSV</servlet-name>
        <servlet-class>uni.soscompany.controller.AdmSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaqSV</servlet-name>
        <servlet-class>uni.soscompany.controller.FaqSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtendimentoSV</servlet-name>
        <url-pattern>/AtendimentoSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaSV</servlet-name>
        <url-pattern>/EmpresaSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioSV</servlet-name>
        <url-pattern>/UsuarioSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmSV</servlet-name>
        <url-pattern>/AdmSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaqSV</servlet-name>
        <url-pattern>/FaqSV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
